<div class="item">
	<h1>About Us</h1>
	<p>
	MeowSpace is a place where people come to connect, discover, and showcase their adorable fur babies.
	Start now by voting for the cutest pets, or sign up to introduce the world to your pet!
	<br><br>
	This site gives people a platform to show their love for their pets and share love for other people's pets.
	With roots in social media, the platform is built to empower our love for animals, filmography, and photography. 
	This meant to connect them with audiences, collaborators, and partners to achieve their goals.
	Through an open design, compelling editorial features, and analytics-based recommendations,
	MeowSpace creates a creative community of people who connect around mutual affinity and inspiration for the purpose of 
	shaping, sharing, and discovering what's next.
	</p>
	<p><center>
<img src="https://image.spreadshirtmedia.com/image-server/v1/designs/11003489,width=178,height=178/love-cat.png">
	</center></p>
	<div id = "invitation">
		<h2> Want to invite a friend to join the fun? Send them an invitation!</h2>
		<h3> Enter email here:</h3>
		<input type ="invite_friend">
	</div>
</div>