<div class="item">
<h1>Your Stuff:</h1>
	<form method="get" action="/updateinfo">
	<input type='submit' name='submit' value='Update Information'></form>
	<p> Username: {{username}} </p> 
	<p> Full Name: {{fullname}} </p>
	<p> Email: {{useremail}} </p>
	<p> Location: </p>
	<p> Pet Name: </p>
	<p> Pet Type: </p>
	<p> Pet Description: </p>
	<p> Pet Picture: </p>
</div>
		
