<div id="item">

	<p><a href="./">Return to Homepage</a></p>

	<h1>Send us an Email</h1>


	<form action='' method='post'>

		<p><label>Name</label><br />
		<input type='text' name='name' value=''></p>

		<p><label>Email</label><br />
		<input type='text' name='email' value=''></p>
		
		<p><label>Questions/Comments</label><br />
		<textarea name= 'textarea' value ='' rows= '8' cols= '27'></textarea></p>
		
		<p><input type='submit' name='submit' value='Send Email'></p>

	</form>

</div>