<div class="item">

	<p><a href="/home">Return to Homepage</a></p>

	<h1>User Login</h1>


	<form action='/users/login' method='post'>

		<p><label>Username</label><br />
		<input type="text" class="form-control" name="username" placeholder="Username"></p>

		<p><label>Password</label><br />
		<input type='password' class="form-control" name='password' placeholder='Password'></p>
		
		<p><input type='submit' name='submit' value='Login'></p>

	</form>

</div>