<div class="item">
<h1>Your Stuff:</h1>
	<p> Username: {{username}} </p>

	<p> Current Full Name: {{fullname}} <br />
		New Full Name: <input type="text" class="form-control" placeholder="Full Name" name="fullname">
		</p>

	<p> Current Email: {{useremail}} <br />
		New Email: <input type="text" class="form-control" placeholder="Email" name="useremail">
		</p>

	<p> Current Location: <br />
		New Location: <input type="text" class="form-control" placeholder="Location" name="location">
		</p>

	<p> Current Pet Name: <br />
		New Pet Name: <input type="text" class="form-control" placeholder="Pet Name" name="petname">
		</p>

	<p> Current Pet Type: <br />
		New Pet Type: 
		<select name="pettype">
		<option value="volvo">Dog</option>
		<option value="saab">Cat</option>
		<option value="fiat">Reptile</option>
		<option value="audi">Rodents</option></select> </p>

	<p> Current Pet Description: <br />
		New Pet Description: <br />
		<textarea name= 'petdesc' value ='' rows= '8' cols= '50'></textarea>
		</p>

	<p> Pet Picture: </p>

	<br />

	<p><input type='submit' name='submit' value='Update Information'>
	<input type='submit' name='cancel' value='Cancel'></p>
</div>

